apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-code-with-quarkus-khrs
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-afzz-tenant/quarkus/devfile-sample-code-with-quarkus-khrs@sha256:f42c3acfca5c49ac485d05a6ab49fcf163bccb867fbebf96197e3ca9cd07f495
        name: my-java-quarkus
        resources: {}
status: {}
